.body_div {
  padding: 5px;
  margin: 0px auto; 
  background-color: #fff; 
  width: 95%;
}

#average_div {
  margin-bottom: : 20px;
}

#chart_div {
  width: 100%;
  height: 300px;
}

#scoping_msg {
  margin-top: 10px; 
  margin-bottom: 10px; 
}